.text {
  color: #999;
  font-size: 0.7em;
  max-width: 50%;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

a {
  color: #ccc;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: white;
}

strong {
  color: #ddd;
}

.text h2 {
  padding-top: 1em;
  color: #bbb;
}

.text p {
  padding-top: 0.5em;
}
