/**
 * site web-carte de visite en REACT
 * @author: sylvana
 */


.accueil, .portfolio {
    color: #ddd;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1em solid #ddd;
    background-color: #333;
}    
    
.accueil {
  letter-spacing: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
  max-width: 21em;
  animation: 
    typing 8s steps(64, start),
    blink-caret 0.80s step-end infinite;
}

.portfolio {
  letter-spacing: 0.11em;
  font-size: 1.10em;
  margin-left: 5px;
  padding-right: 2px;
  animation: 
    typing 2s steps(27, end),
    blink-caret 0.80s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ddd; }
}